* {
    font-family: "monospace";
}

@define-color bg-box #111826;
@define-color bg-even #182545;
@define-color bg-win #007d6f;
@define-color bg-sele #00aa84;
@define-color text #ffffffff;
@define-color text-sl transparent;

window {
    background-color: @bg-win;
}

#input {
    margin: 5px;
    border-radius: 0px;
    border: none;
    background-color: @bg-box;
    color: @text;
}

#inner-box {
    background-color: @bg-box;
}

#outer-box {
    margin: 2px;
    padding: 10px;
    background-color: @bg-box;
}

#scroll {
    margin: 5px;
}

#text {
    padding: 4px;
    color: @text;
}

#entry:nth-child(even){
    background-color: @bg-even;
}

#entry:selected {
    background-color: @bg-sele;
}

#text:selected {
    background: @text-sl;
}
